PORT=8000

GOOGLE_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
TYPESAFE_API_KEY=

# mongodb, sqlite, cosmos, or memory (tests only)
SESSION_STORE=sqlite
SQLITE_DB_PATH=./data/sessions.sqlite

# Required only when SESSION_STORE=cosmos
COSMO_DB_ID=ezgraph
COSMO_DB_SESSION_CONTAINER_ID=sessions
COSMOS_THROUGHPUT=400

# Required when SESSION_STORE=mongodb or when running test2:quote-langgraph
MONGODB_URL=mongodb://localhost:27017
MONGODB_NAME=ezgraph
MONGODB_COLLECTION=sessions
